<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players value</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/vendor/nouislider/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="/static/images/Ronaldoimg.png" alt="">
                </div>
                <div class="signup-form">
                    <h1 style="color:black; text-align: center;  margin-top: 100px;  border: 4px dotted #329e5e; width: 300px; padding: 10px; margin-left: 255px;  color: black;"> Enter player stats: </h1>
                    <form action="/predict" class="register-form" id="register-form" method="post">
                        <div class="form-row">  
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">Age</label>
                                    <input type="text" name="Age" id="first_name " placeholder="Age" required/>
                                </div>
                                <div class="form-input">
                                    <label for="last_name" class="required">Potential</label>
                                    <input type="text" name="Potential" id="last_name" placeholder="Value from 80 : 100" required/>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="PreferredFoot">Preferred Foot</label>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="PreferredFoot" value="Right" id="cash" checked>
                                            <label for="cash">Right</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="PreferredFoot" value="Left" id="cheque">
                                            <label for="cheque">Left</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Weak Foot</label>
                                    <input type="text" name="Weak Foot" id="email" placeholder="Value from 10-20-30-40-50" required/>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Weight</label>
                                    <input type="text" name="Weight" id="phone_number" placeholder="lbs weight (pounds)" required/>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Finishing</label>
                                    <input type="text" name="Finishing" id="phone_number" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Heading Accuracy</label>
                                    <input type="text" name="HeadingAccuracy" id="phone_number" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Short Passing</label>
                                    <input type="text" name="ShortPassing" id="phone_number" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Dribbling</label>
                                    <input type="text" name="Dribbling" id="phone_number" placeholder="Value from 50 : 100"required/>
                                </div>
                                <div class="form-input">
                                    <label for="chequeno">Curve</label>
                                    <input type="text" name="Curve" id="chequeno" placeholder="Value from 50 : 100" required/>
                                </div>
                            </div>
                            <div class="form-group">
                            
                      
                                <div class="form-input">
                                    <label for="blank_name">Ball Control</label>
                                    <input type="text" name="BallControl" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Acceleration</label>
                                    <input type="text" name="Acceleration" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Sprint Speed</label>
                                    <input type="text" name="SprintSpeed" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Agility</label>
                                    <input type="text" name="Agility" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Reactions</label>
                                    <input type="text" name="Reactions" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Balance</label>
                                    <input type="text" name="Balance" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Shot Power</label>
                                    <input type="text" name="ShotPower" id="blank_name" placeholder="Value from 50 : 100"required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Jumping</label>
                                    <input type="text" name="Jumping" id="blank_name" placeholder="Value from 50 : 100"required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Stamina</label>
                                    <input type="text" name="Stamina" id="blank_name" placeholder="Value from 50 : 100"required/>
                                </div>
                                <div class="form-input">
                                    <label for="blank_name">Strength</label>
                                    <input type="text" name="Strength" id="blank_name" placeholder="Value from 50 : 100" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                        </div>
                        {% if result %}
                        <p style='text-align: center;margin-top: 15px;font-size: large; color: black;'>Player value in transfer market is: <b style="color:#329e5e;">{{ result }}</b> Million € </p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/nouislider/nouislider.min.js"></script>
    <script src="/static/vendor/wnumb/wNumb.js"></script>
    <script src="/static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/static/js/main.js"></script>

    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>